body,div,ul,ol,li,dd,dt,header,aside,main,section,footer,h1,h2,h3,h4,h5,h5,h6,tr,td,th,p{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
.clearfix:after{
    display: block;
    content: "";
    clear: both;
}
body{
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
    color: #333;
    text-decoration: none;
}
a, a:hover, a:focus, a:active, a.active {
    outline: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::selection {
    text-shadow: none;
    background: #ff6060;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
}
img{
    border: 0; 
    vertical-align: middle;
}