
header{
    background-image: url(../image/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.container{
    width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.intro-txt{
    padding-top: 300px;
    padding-bottom: 200px;
}
.intro-txt p{
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
}
.intro-txt h1{
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
}
.btn{
    display: inline-block;
    line-height: 1.5;
    padding: 20px 40px;
    background-color: #ff6060;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
}
.nav{
    padding: 25px 0;
    background-color: #000;
}
.navbar{
    position: relative;
}














